/* +--------------------------------------+
   +- Author: Arlo Ihrig                 -+
   +- Date: 03-24-2021                   -+
   +--------------------------------------+
   +- Portfolio styling          -+
   +--------------------------------------+ */

/* ========================================
   General styling
   ======================================== */

/* Body */
body {
  margin: 0%; /* Ensures display goes to edge of browser */
  background-color: antiquewhite;
}

/* Main headings */
h1 {
    text-transform: uppercase; /* Set all text to uppercase */
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

/* Main heading hover effects */
h1:hover {
    filter: grayscale(5%); /* Add slightly gray filter to heading */
    transform: scale(1.1); /* Increase scale slightly */
    transition: transform 1s; /* Create 1 second transformation */
}

/* Styling for portfolio title text */
.white-text {
    color: #fff; /* This is used to change color of portfolio title */
}

/* Paragraphs */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; /* Justify text within paragraph elements */
    letter-spacing: 1px; /* Increase kerning slightly */
    font-size: 20px;
    padding-left: 20px; /* Add padding to left of paragraph */
    padding-right: 20px; /* Add padding to right of paragraph */
}

/* Paragraph hover effect */
p:hover {
    transition: transform 1s; /* 1 second length of effect */
    transform: scale(1.01); /* Expand paragraph sligtly */
}

/* Center elements */
.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s; /* 2 second effect length */
    transform: scale(1.1); /* Expand center class elements */
}

/* Anchor elements */
a {
    color: blue; /* Ensure links are blue */
}

/* Quotation elements */
q {
    font-style: italic; /* This makes the quote italicized */
}

/* Image elements */
img {
    filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 8px; /* All images have slightly rounded corners */
    max-width: 100%; /* Ensures all images span width of their container */
    height: 340px; /* Set all image heights to 340px */
    display: block; /* Enables centering of images */
    margin-left: auto; /* Along with margin-right: auto, centers images */
    margin-right: auto;
}

/* Image hover effects */
img:hover {
    filter: grayscale(5%); /* Bring most of the color back to image */
    transition: transform 1s; /* "Fade in" */
    transform: scale(1.1); /* Increase image size slightly */
}

/* Center vertically for smaller screens */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Footer */
footer {
    padding: 2%; /* Padding for 2% of width of element's area */
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* ========================================
   Navbar styling
   ======================================== */

/* General navbar */
.navbar {
  overflow: hidden; /* Anything beyond navbar boundary is hidden */
  background-color: black;
  position: fixed; /* Keeps navbar at top of screen */
  top: 0; /* No space above navbar */
  width: 100%; /* Span entire width of page */
  z-index: 1; /* Puts navbar on top of stack */
  -webkit-animation: moveNav 1.5s; /* Safari 4.0 - 8.0 */
  animation: moveNav 1.5s;
}

.navbar a {
    float: left; /* Text floats on left edge of navbar */
    display: block; /* Ensures that other text will be on same line */
    color: white; /* Link text color */
    background-color: black;
    padding: 14px 16px; /* Padding around text */
    text-decoration: none; /* Hide underline for links */
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    position: relative; /* Text stays relative to normal positioning so animation will work */
    -webkit-animation: moveNavText 2s; /* Safari 4.0 - 8.0 */
    animation: moveNavText 2s; /* Apply moveNavText animation */
}

/* Navbar hover effects */
.navbar a:hover {
    background-color: ivory;
    color: black;
    font-weight: bold;
}

.navbar a.active {
    /* Target the <a> element on the navbar with the "active" class */
    background-color: darkgray;
}

/* Navbar animations */
/* moveNav animation effect - fly navbar in from left of screen */
@keyframes moveNav {
    /* The translate[X|Y|Z] functions perform better than positions (top, right, bottom, left) */
    from {transform: translateX(-100vw);} /* The navbar is starting off screen to the left */
    to {transform: translateX(0vw);} /* This moves the navbar into place on the screen */
}

/* moveNavText animation effect - lower text on to navbar */
@keyframes moveNavText {
    /* The translate[X|Y|Z] functions perform better than positions (top, right, bottom, left) */
    from {transform: translateY(-100vh);} /* Set navbar text above visible viewport */
    to {transform: translateY(0vh);} /* Lower text onto navbar */
}

/* ========================================
   Video Styling
   ======================================== */
/* Formatting for background video */
#typing_video {
    position: fixed; /* Fixes videos to the page */
    right: 0; /* Ensure no space between edge of video and page */
    bottom: 0; /* Ensure no space between bottom of video and bottom of page */
    min-width: 100%; /* Ensure video spans entire width of page */
    z-index: -1; /* Place video behind all other elements */
}

/* Screens 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #typing_video {
        display: none;
    }
}

/* Text over video */
.video_text {
    background: rgba(0, 0, 0, 0.5); /* Slight transparency */
    color: white;
    width: 100%; /* Ensure text spans width of video */
    padding: 20px; /* Creates a slight margin around the text against the backgound */
    position: relative; /* Sets text relative to normal positioning for animation */
    -webkit-animation: moveVideoText 2.75s;
    animation: moveVideoText 2.75s;
}

/* Video text animation - move text up from bottom on page load */
@keyframes moveVideoText {
    from {transform: translateY(-100vh);}
    to {transform: translateY(0vh);}
}

/* ========================================
   Table Styling
   ======================================== */
* { /* Apply to ALL elements */
    box-sizing: border-box; /* Creates a box with a border for most text */
}

/* Display scrollbard on smaller screens */
@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}

.column_1 {
    float: left;
    width: 50%; /* This ensures the column spans 50% of the page width */
    padding: 10px;
    padding-top: 3%; /* This ensures there is space between the top of the column and the headings */
    height: 400px; /* Set height of column to 400px - may need further adjustment*/
    background-color: white;
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
}

/* This class applies to the columns in the final row, overriding height
   and padding to provide more room for contact form while keep other
   formatting. */
.column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* This inserts something after the content of selected elements
   (row class in this case) */
.row::after {
    content: ""; /* Leaving this blank allows footer to be displayed, overwriting a column */
    display: table;
    clear: both; /* Clears any other elements from floating on left or right of this element. */
}

/* ========================================
   Contact Form
   ======================================== */

/* Target all text inputs */
input[type=text] {
    width: 100%; /* Span width of container */
    padding: 12px; /* Padding inside input boxes */
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Create box with border around form input boxes */
    margin-top: 16px; /* Add margin to tops of text box */
    margin-bottom: 16px; /* Add marging to bottom of text box */
    resize: vertical; /* Only allow vertical resizing of input boxes */
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset; /* Inner shaddow */
}

/* Submit button */
input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Allow centering of submit button */
    margin-left: auto; /* Allow centering of submit button */
    margin-right: auto; /* Allow centering of submit button */
    font-family: Perpetua Rockwell Extra Bold;
    transition: transform 1.5s; /* 1.5 second effect length */
    transform: scale(1); /* Set normal button size */
}

/* Hover effect for submit button*/
input[type=submit]:hover {
    background-color: white;
    color: black;
    transition: transform 1.5 ease; /* 1.5 second effect length */
    transform: scale(1.5); /* Slight enlargement of button */
}

/* Form element */
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}