/* +--------------------------------------+
   +- Author: Arlo Ihrig                 -+
   +- Date: 03-24-2021                   -+
   +--------------------------------------+
   +- Portfolio styling          -+
   +--------------------------------------+ */

/* ========================================
   General styling
   ======================================== */

/* HTML - entire document */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0%; /* Ensures display goes to edge of browser */
    opacity: 1; /* Opacity and transition affect the page loading fade-in effect */
    transition: 3s opacity; /* Create 3 second fade in */
    letter-spacing: 0.2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden; /* Prevent horizontal scroll bar appearing when the quote is hovered*/
    user-select: none;

    /* Set up fade in effect */
    /* transition: 1s; */
}

/* This section contributes to the fade effect for the page when it loads */
body.fade-out {
    opacity: 0.1;
}

/* Main headings */
h1 {
    text-transform: uppercase; /* Set all text to uppercase */
    font-family: 'Trebuchet MS', Optima;
    text-align: center;
    margin-top: -0.5%;
    color: #1a1a1a;
}

/* Main heading hover effects */
h1:hover {
    filter: grayscale(5%); /* Add slightly gray filter to heading */
    transform: scale(1.1); /* Increase scale slightly */
    transition: transform 1s; /* Create 1 second transformation */
}

/* Styling for portfolio title text */
.white-text {
    color: #fff; /* This is used to change color of portfolio title */
    padding-top: 10vh; /* Adds padding (equal to 10% of the viewport height) to the top of the title text */
}

@media screen and (min-width: 601px) {
    .white-text {
        font-size: 5vw;
    }
}

/* Paragraphs, list items*/
p,
.list_item {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; /* Justify text within paragraph elements */
    letter-spacing: 0.1vw; /* Increase kerning slightly */
    font-size: 1.5vw;
    padding-left: 1vw; /* Add padding to left of paragraph */
    padding-right: 1vw; /* Add padding to right of paragraph */
}

/* Paragraph hover effect */
p:hover {
    transition: transform 1s; /* 1 second length of effect */
    transform: scale(1.008); /* Expand paragraph sligtly */
}

/* Center elements */
.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s; /* 2 second effect length */
    transform: scale(1.1); /* Expand center class elements */
}

/* Anchor elements */
a {
    color: blue; /* Ensure links are blue */
    cursor: pointer;
    text-decoration: underline; /* Ensure all links have underlines */
}

/* Quotation elements */
q {
    font-style: italic; /* This makes the quote italicized */
}

/* Image elements */
img {
    filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 8px; /* All images have slightly rounded corners */
    max-width: 100%; /* Ensures all images span width of their container */
    height: 100%;
    display: block; /* Enables centering of images */
    margin: auto auto auto auto; /* center images */
}

/* Image hover effects */
img:hover {
    filter: grayscale(5%); /* Bring most of the color back to image */
    transition: transform 1s; /* "Fade in" */
    transform: scale(1.05); /* Increase image size slightly */
}

/* Center vertically for smaller screens */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Footer */
footer {
    padding: 2%; /* Padding for 2% of width of element's area */
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Fade in effect */
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ========================================
   Navbar styling
   ======================================== */

/* General navbar */
.navbar {
    overflow: hidden; /* Anything beyond navbar boundary is hidden */
    background-color: black;
    position: fixed; /* Keeps navbar at top of screen */
    top: 0; /* No space above navbar */
    width: 100%; /* Span entire width of page */
    z-index: 1; /* Puts navbar on top of stack */
    -webkit-animation: moveNav 1.5s; /* Safari 4.0 - 8.0 */
    animation: moveNav 1.5s;
}

.navbar a {
    float: left; /* Text floats on left edge of navbar */
    display: block; /* Ensures that other text will be on same line */
    color: white; /* Link text color */
    background-color: black;
    padding: 0.75vw 1vw; /* Padding around text */
    text-decoration: none; /* Hide underline for links */
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    text-align: center;
    position: relative; /* Text stays relative to normal positioning so animation will work */
    -webkit-animation: moveNavText 2s; /* Safari 4.0 - 8.0 */
    animation: moveNavText 2s; /* Apply moveNavText animation */
}

/* Navbar hover effects */
.navbar a:hover {
    background-color: ivory;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.navbar a.active {
    /* Target the <a> element on the navbar with the "active" class */
    background-color: darkgray;
}

/* Navbar animations */
/* moveNav animation effect - fly navbar in from left of screen */
@keyframes moveNav {
    /* The translate[X|Y|Z] functions perform better than positions (top, right, bottom, left) */
    from {
        transform: translateX(-100vw);
    } /* The navbar is starting off screen to the left */
    to {
        transform: translateX(0vw);
    } /* This moves the navbar into place on the screen */
}

/* moveNavText animation effect - lower text on to navbar */
@keyframes moveNavText {
    /* The translate[X|Y|Z] functions perform better than positions (top, right, bottom, left) */
    from {
        transform: translateY(-100vh);
    } /* Set navbar text above visible viewport */
    to {
        transform: translateY(0vh);
    } /* Lower text onto navbar */
}

/* ========================================
   Video Styling
   ======================================== */
/* Formatting for background video */
#typing_video {
    position: fixed; /* Fixes videos to the page */
    right: 0; /* Ensure no space between edge of video and page */
    bottom: 0; /* Ensure no space between bottom of video and bottom of page */
    top: -14vh;
    min-width: 100%; /* Ensure video spans entire width of page */
    z-index: -1; /* Place video behind all other elements */
}

/* Screens 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #typing_video {
        display: none;
    }
}

/* Text over video */
.video_text {
    background: rgba(0, 0, 0, 0.5); /* Slight transparency */
    color: white;
    width: 100%; /* Ensure text spans width of video */
    height: 100vh; /* Fill video-text container */
    padding-top: 2vh; /* Add padding around video-text container so goes slightly beyond the text */
    position: relative; /* Sets text relative to normal positioning for animation */
    -webkit-animation: moveVideoText 2.75s;
    animation: moveVideoText 2.75s;
}

/* Video text animation - move text up from bottom on page load */
@keyframes moveVideoText {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0vh);
    }
}

/* ========================================
   Slideshow Styling
   ======================================== */
#Slideshow_Background {
    background-color: rgba(
        255,
        255,
        255,
        0.35
    ); /* Create slight transparent white background placed over video in background */
}

.mySlides {
    display: none; /* Prevent images from being displayed initially - will be handled by JS */
}

/* Slideshow -> container */
#Slideshow_Container {
    width: 39.5vw; /* Set container to 39.5% width of viewport */
    height: auto;
    padding-top: 4%; /* Small padding on top of slideshow container */
    position: relative; /* Set container relative to it's normal positioning */
    margin: auto; /* Center container horizontally */
}

/* Images contained within slideshow */
.Slideshow_Images {
    vertical-align: middle; /* Center images vertically */
    height: auto; /* Image height automatically adjusted based on content */
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75); /* Add shadow for slideshow images */
    width: 100%; /* Width of images automatically adjusted based on content */
}

/* Next and Previous buttons */
.Previous,
.Next {
    cursor: pointer;
    position: absolute; /* Allows prev/next buttons to be posisitioned relative to slideshow container */
    top: 50%; /* Move buttons half-way up */
    width: auto; /* Width of buttons automatically adjusted based on content */
    padding: 2vw; /* Padding equal to 2% of viewport width */
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; /* Adds a slightly rounded border on top and bottom right corners */
    user-select: none; /* Prevent text selection */
    transition: 0.6s ease;
}

/* Position next button on right hand side */
.Next {
    right: 0; /* Move next button to right side of image */
    border-radius: 3px 0 0 3px; /* Change border on next button to top and bottom left */
}

/* Hover effect on slideshow buttons */
.Previous:hover,
.Next:hover {
    background-color: rgba(
        0,
        0,
        0,
        0.8
    ); /* Slight transparent background on buttons */
    color: white; /* Makes arrows on buttons white when hovered over*/
}

/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute; /* Ensures text is positioned within image */
    bottom: 0; /* Set text at bottom of image */
    width: 100%; /* Element will cover full width of image */
    text-align: center; /* Text is center aligned within the image */
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: 0.1vs;
    font-size: 1.5vw; /* Relative to view port */
    background-color: rgba(
        0,
        0,
        0,
        0.75
    ); /* Slight transparent black background */
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; /* Gives text background rounded corners on bottom left and right corners */
}

/* Styling of dots under slideshow container */
.dot {
    cursor: pointer;
    height: 1vw; /* Dots sized relative to viewport width */
    width: 1vw;
    margin: 0.25vw; /* Additional spacing between dots */
    background-color: white;
    border-radius: 50%; /* Make the dots circles by rounding each corner */
    display: inline-block; /* Allows dots to sit next to each other instead of on new line */
    transform: background-color 0.6s ease; /* Dots transition to different color when hovered or clicked */
    z-index: 1; /* Place above other elements */
}

/* Hover effect for slideshow dots */
.active,
.dot:hover {
    background-color: black; /* Dot color when active or hovered */
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade; /* Fade animation defined below */
    animation-duration: 1.5s;
    -webkit-animation-name: fade; /* Safari */
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    } /* Image starts transparent */
    to {
        opacity: 1;
    } /* Image ends fully opaque */
}

@keyframes fade {
    from {
        opacity: 0.4;
    } /* Image starts transparent */
    to {
        opacity: 1;
    } /* Image ends fully opaque */
}
/* End Slideshow Styling */

/* ========================================
   Table Styling
   ======================================== */
* {
    /* Apply to ALL elements */
    box-sizing: border-box; /* Creates a box with a border for most text */
}

/* Display scrollbar on smaller screens */
@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}

.column_1 {
    float: left;
    width: 50%; /* This ensures the column spans 50% of the page width */
    padding: 1.6%;
    padding-top: 3%; /* This ensures there is space between the top of the column and the headings */
    /* height: 625px; Set height of column to 400px - may need further adjustment */
    height: max-content;
    background-color: white;
}

.column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    padding-top: 1.9%;
    /* height: 625px; */
    height: max-content;
    background-color: #4d4d4d;
}

/* This inserts something after the content of selected elements
   (row class in this case) */
.row:after {
    content: ''; /* Leaving this blank allows footer to be displayed, overwriting a column */
    display: table;
    clear: both; /* Clears any other elements from floating on left or right of this element. */
}
/* End table styling */

/* ========================================
   Contact Form
   ======================================== */

/* Button to open contact form - bottom right sticky */
.Pop_Up_Button {
    position: fixed; /* Position relative to viewport and stays in the same location */
    bottom: 1.75vw; /* Position button slightly up from bottom */
    right: 1.75vw; /* Position button slightly right from the the side of the viewport */
    width: 25vw; /* Set relative width of viewport */
    background-color: white;
    color: black;
    cursor: pointer;
    -webkit-animation: movePopup 3s; /* Animation 3 seconds */
}

/* movePopup animation: moves button from off the right side of screen to it's fixed location */
@keyframes movePopup {
    from {
        right: -40vw;
    }
    to {
        right: 1.75vw;
    }
}

@-webkit-keyframes movePopup {
    from {
        right: -40vw;
    }
    to {
        right: 1.75vw;
    }
}

/* Styling for contact form */
.form-popup {
    border: 3px solid #f0f1f0; /* Solid light gray border around form */
    z-index: 8; /* Make sure contact form shows above everything else */
    display: none; /* Hide form, will use JS to display */
    position: fixed; /* Form will stay positioned in same location */
    bottom: 0.5vw; /* Slightly up from bottom */
    right: 0.5vw; /* Slightly in from right side of viewport */
}

/* Form styling */
.form-container {
    max-width: 49vw; /* Relative sizing of the form container */
    padding: 1vw; /* Add padding between the form-popup and form container */
    background-color: white;
}

/* Input fields */
.form-container input[type='text'] {
    width: 100%; /* Input boxes fill width of container */
    padding: 0.93vw;
    margin: 0.6vw 0 0.6vw 0; /* Add space between input boxes and labels */
    border: none; /* Remove border from input boxes */
    background: Gainsboro; /* Set background color of input boxes */
    font-size: 1vw; /* Relative font sizing based on width of viewport */
}

/* General styling for all buttons */
button {
    font-family: 'Trebuchet MS', Optima;
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw; /* Add padding to text in button */
    cursor: pointer;
    width: 100%; /* Set width of buttons to 100% of their container */
    height: auto; /* Allow height to be resized */
}

/* Hover effect for contact and submit buttons */
button:hover,
.form-container .btn:hover {
    color: white; /* White text in butons when hovering */
    background-color: black; /* Black background when hovering */
    transition-duration: 1s;
    -webkit-transition-duration: 1s; /* For Safari */
    border-color: silver;
}

/* Submit button */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh; /* Add space between submit button and close button */
}

/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Close button: hover */
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
